<%= turbo_stream_from "games" %>

<h1>Games</h1>

<h2>Your games</h2>
<% if @your_games.present? %>
  <ul id="your_games">
    <% @your_games.each do |game| %>
      <%= render partial: "games/lobby_game", locals: { game: game } %>
    <% end %>
  </ul>
<% end %>

<h2>Lobby</h2>
<ul id="games">
  <% @games.each do |game| %>
    <%= render partial: "games/lobby_game", locals: { game: game } %>
  <% end %>
</ul>

<%= button_to 'New game', games_path %>
